body {

	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;

}


p {

	line-height: 1.5em;
	margin: 0 0 1em 0;
	font-size: 93%;
	
}


img {

	box-shadow: 10px 10px 5px #888888;
	height: auto;
	margin: 0 0 10px 0;
	max-width: 100%;
	
}

/* Section Inner */

div.section-inner {

	margin: 0 auto;
	max-width: 1100px;
	padding: 0 25px;
	
}

/* Header */

header {

	background-color: #83749f;
	color: #FFF;
	font-size:1.6em;
	padding: 30px 20px;
	
}

header h1 {

margin: 0;
	
}

/* Navigation */

.menu-trigger {

	display: none;
}

nav {

	background-color: #CDB4FF;
	padding: 0 20px;
}

nav ul {

	margin: 0;
	padding: 0;
}

nav ul li {

	float: left;
	font-size: .93em;
	list-style: none;
	
}

nav ul li a:link,
nav ul li a:visited {

	color: #305782;
	display: block;
	padding: 10px 25px 10px 0;
	text-decoration: none;	
	
}

nav ul li a:hover {

	background:#B8A2E6;
	color:white;

}

/* Body Content */

section {

	background-color: #ffffdb;
	padding: 50px 0;
	
}

h2 {

	color:#2e283a;
	font-weight:bold;
	margin:10px 0;
	
}

/* Thirds */

div.thirds {

	padding-bottom: 50px;

}

div.one-third {

	float: left;
	margin-right: 5%;
	width: 30%;
	
}

div.one-third-last {

	margin: 0;
}

/* Main Column */

div.main {

	float: left;
	margin-right: 5%;
	width: 65%;
	
}

/* Side Column */

div.side {

	float: left;
	width: 30%;
	
}

/* Info Box */

div.info-box-a, div.info-box-b {

	background-color: #CDB4FF;
	border-radius:3px;
	font-size: 13px;
	margin: 0 0 15px 0;
	padding: 20px;
	
}



/* Footer */

footer {

	background-color: #9382B8;
	color: #FFF;
	padding: 15px 0;
	text-align: center;
}


.clearfix:before, .clearfix:after { content: ""; display: block; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


@media (max-width:740px){

	div.one-third {

		width: 47.5%;
	}

	div.one-third-second {

		margin: 0;
	}

	div.one-third-last {

		clear: both;
		float: none;
		padding: 20px 0 0 0;
		width: auto;
		
	}

	nav ul li {

		border-bottom: 1px solid #bababa;
		width: 25%;
		
	}


}



@media screen and (max-width: 620px) {

	nav ul li {

		width: 33%;

	}
}

@media screen and (max-width: 500px) {
	
	nav ul li {

		font-size: 85%;
		width: 50%;	

	}
	
	div.mobile-collapse {

		float: none;
		margin-right: 0;
		width: auto;
		
	}
	
	.hide-mobile {

		display: none;

	}
		
}

@media screen and (max-width: 480px) {
	
	.menu-trigger {

		background-color: #CDB4FF;
		color: #305782;
		cursor: pointer;
		display: block;
		font-size: 83%;
		padding: 10px;
		text-align: right;	
		
	}
	
	nav {

		display: none;
	}
	
	.nav-expanded {

		display: block;
	}
	
	nav ul li {

		border-bottom: 2px solid #d5dce4;
		float: none;
		
	}
	
	nav ul li:last-child {
		
		border-bottom: none;
	}
	
}
